<h3>REGISTRATION FORM</h3>
<p>Use Google sign in to automate all steps</p>
<p>Don't have account? Sign up</p>
<input type="text" ng-model="$ctrl.name_new_user" name="Name" placeholder="First Name"/></br>
<input type="text" ng-model="$ctrl.email" name="Email" placeholder="Email"/></br>
<input type="text" ng-model="$ctrl.password" name="Password" placeholder="Password"/></br>
<input type="text" ng-model="$ctrl.phone" name="Phone" placeholder="+62-"/></br>
<input type="button" value="SUBMIT" ng-click="$ctrl.registration()"/>